@font-face{
	font-family: "NovemberCompressedLCG-Light";
	src: url("../fonts/NovemberCompressedLCG-Light.woff") format("woff"), url("../fonts/NovemberCompressedLCG-Light.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: "NovemberCompressedLCG-Bold";
	src: url("../fonts/NovemberCompressedLCG-Bold.woff") format("woff"), url("../fonts/NovemberCompressedLCG-Bold.woff2") format("woff2");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face{
	font-family: "NovemberCompressedLCG-Black";
	src: url("../fonts/NovemberCompressedLCG-Black.woff") format("woff"), url("../fonts/NovemberCompressedLCG-Black.woff2") format("woff2");
	font-style: normal;
	font-weight: 900;
	font-display: swap;
}

body{
	font-family: "NovemberCompressedLCG-Light";
	font-weight: 400;
}

.wrapper{
	max-width: 1000px;
	line-height: 1.5;
	margin: 0 auto;
}

.span-red{
	color: red;
	text-shadow: 5px 5px 5px rgb(150, 47, 47);
	text-transform: uppercase;
}

.span-blue{
	color: blue;
	text-shadow: 5px 5px 5px rgb(41, 72, 172);
	text-transform: lowercase;
}

.span-green{
	color: green;
	text-shadow: 5px 5px 5px rgb(39, 153, 48);
	text-transform: capitalize;
}

.span-violet{
	color: rgb(104, 21, 116);
	text-shadow: 5px 5px 5px rgb(190, 42, 204);
}

h1{
	font-family: "NovemberCompressedLCG-Black";
	font-weight: 900;
	font-size: 35px;
	text-shadow: 5px 5px 5px rgb(46, 45, 45);
	text-align: center;
}

h2{
	font-family: "NovemberCompressedLCG-Bold";
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 20px;
	text-shadow: 3px 3px 5px rgb(46, 45, 45);
}

.menu{
	font-family: "NovemberCompressedLCG-Bold";
	font-weight: 700;
	font-size: 35px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 10px 10px 10px rgb(48, 48, 48);
	border-bottom: 5px dashed rgb(148, 146, 146);
	margin: 30px auto;
}

.img-1{
	text-align: center;
	margin-bottom: 30px;
}

img{
	max-width: 800px;
	max-height: 500px;
	border-radius: 50%;
}

.content-1{
	font-size: 25px;
	color: rgb(87, 85, 85);
	margin: 0px 0px 20px 0px;
	border: 5px double rgb(184, 7, 7);
	box-shadow: inset 0px 0px 10px 0px rgb(187, 32, 32), 0 0 40px 0 rgb(218, 90, 90);
	overflow: scroll;
	max-height: 200px;
}

.content-2{
	font-size: 15px;
	color: rgb(0, 0, 0);
	margin: 0px 0px 20px 0px;
	padding: 15px;
	border-right: 3px dotted rgb(5, 66, 8);
	max-width: 50%;
}

.content-3{
	font-size: 20px;
	color: rgb(0, 0, 0);
	margin: 0px 0px 20px auto;
	padding: 25px;
	border: 3px dashed rgb(50, 53, 184);
	box-shadow: inset 0px 0px 10px 0px rgb(47, 30, 196), 0 0 50px 0 rgb(103, 101, 224);
	max-width: 50%;
	text-align: center;
	line-height: 2;
	overflow: scroll;
	max-height: 400px;
}

.content-4{
	font-size: 20px;
	color: rgb(0, 0, 0);
	margin: 0px auto 20px 0px;
	padding: 25px;
	border: 3px solid rgb(214, 173, 212);
	max-width: 50%;
	overflow: scroll;
	max-height: 500px;
	box-shadow: inset 0px 0px 10px 0px rgb(88, 35, 88), 0 0 50px 0 rgb(160, 82, 156);
}

.content-5{
	font-size: 20px;
	color: rgb(0, 0, 0);
	margin: 0px auto 20px 0px;
	padding: 20px;
	outline: 3px dashed rgb(207, 10, 10);
	box-shadow: inset 40px 0px 50px 40px rgb(245, 112, 95), 0 0 150px 0 rgb(219, 88, 71);
}

.content-list-menu{
	display: inline-block;
	width: 30%;
	border: 3px solid #0c67ee;
	text-align: center;
	margin: 0px 10px 20px 10px;
	box-shadow: inset 0px 0px 20px 0px rgb(67, 65, 206), 0 0 20px 0 rgb(82, 104, 231);
}

.content-6{
	font-size: 20px;
	display: inline-block;
	padding: 15px 30px;
	color: rgb(0, 0, 0);
	border-radius: 30px;
	box-shadow: 0 5px 30px 0 rgb(15, 123, 138);
	text-align: center;
	margin-bottom: 20px;
}

.content-7{
	font-size: 25px;
	margin-bottom: 20px;
	padding: 15px 30px;
	border: 3px solid #3aa9dd;
	box-shadow: inset 0px 0px 60px 0px rgb(145, 218, 240), 0 0 20px 0 rgb(26, 118, 146);
}

.opacity-1{
	opacity: 0.8;
}

.opacity-2{
	opacity: 0.5;
	text-decoration: underline;
}

.opacity-3{
	opacity: 0.2;
	text-decoration: line-through;
}

.vis{
	visibility: hidden;
}

.content-8{
	font-size: 23px;
	padding: 15px 30px;
	color: rgb(0, 0, 0);
	box-shadow: 0 5px 30px 0 rgb(122, 82, 155);
	border-top: 5px dashed rgb(165, 74, 165);
	margin-bottom: 50px;
	text-decoration: overline;
	border-bottom: 5px dashed rgb(136, 81, 143);
}

.top{
	text-align: center;
	font-weight: 700;
	font-size: 40px;
	text-decoration: underline;
	margin-bottom: 45px;
	text-shadow: 5px 0px 10px black;
	color: rgb(0, 0, 0);
}